!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=1024')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='author', content='Pierre Romera (@pirhoo)')
    
    title 
      block title         
    
    link(href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic', rel='stylesheet')
    link(href='/stylesheets/framework.css', rel='stylesheet')      
    link(href='/stylesheets/style.css', rel='stylesheet')   

  body.impress-not-supported


    #impress
      block content
                  
    //- For example this fallback message is only visible when there is `impress-not-supported` class on body.   
    .fallback-message
      p
        | Your browser <strong>doesn't support the features required</strong>
        | by this presentation, so you are presented with a simplified version of this presentation.
      p
        | For the best experience please use the latest <strong>Chrome</strong>, <strong>Firefox</strong>
        | or <strong>Safari</strong> browser.
     
    footer
      .row-fluid      
        .span6.tl Use a spacebar or arrow keys to navigate.
        .span6.tr          
          a(href="https://twitter.com/share",class="twitter-share-button",data-via="Pirhoo",data-related="Pirhoo") Tweeter
          a(href="https://twitter.com/Pirhoo",class="twitter-follow-button",data-show-count="false") Suivre @Pirhoo

    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");    
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='/javascripts/impress.js')
    script
      impress().init();
      
      (function($) {

        $(document).ready(function() {
          var hostname = window.location.hostname.toLowerCase();   
          $("a").each(function() {
            var href = this.href.toLowerCase();
            if (href.indexOf("http://") != -1 && href.indexOf(hostname) == -1) {
              $(this).addClass('external').click(function(e) {
                e.preventDefault();
                window.open(href, '_blank');
              });
            }
          });
        });

      })(jQuery);
