extends ../layout

block title
	| Detective.io

block content

	- var x = y = y_rotate = 0

	.step.tc(data-y=1000*y, data-x=1000*x++)
		h1.bottom0.tc Detective.io<br >en <span style="font-size: 150%">5</span> minutes
		p.tc Comment Detective.io a sauvé Bill-le-journaliste<br />d'une bien mauvaise journée

	.step.tc(data-y=1000*y, data-x=1000*x++)
		.tc
			h4.bottom10.top30 Bill est un journaliste travaillant avec des deadlines.
			img(src="images/dio/smoke.gif")

	.step.tc(data-y=1000*y, data-x=1000*x++)
		h4.bottom10.top30 Il ne supporte pas de mettre la tête dans des <big>formules Excel</big>.
		img(src="images/dio/excel.gif")

	.step.tc(data-y=1000*y, data-x=1000*x++)
		h4.bottom10.top30 Il a bien essayé d'installer Google Refine,<br />mais Java ne voulait pas de lui.
		img(src="images/dio/java.png")

	.step.tc(data-y=1000*y, data-x=1000*x++)
		h4.bottom10.top30 Déséspéré, il ne pouvait pas utiliser<br />les données qu'il avait receuilli.
		img(src="images/dio/despair.gif")

	.step.tc(data-y=1000*y, data-x=1000*x++)
		h4.bottom10.top30 Bill commenca donc à chercher une solution...
		img(src="images/dio/google.gif")

	.step.tc(data-y=1000*y, data-x=1000*x++)
		h4.bottom10.top30 ...et découvrit <big>Detective.io</big>.
		img(src="images/dio/detective.gif")

	.step.tc(data-y=1000*y, data-x=1000*x++)
		h4.bottom10.top30 Bill ne tenait plus en place !
		img(src="images/dio/happy.gif")

	.step.tc(data-y=1000*y, data-x=1000*x++)
		h4.bottom10.top30 Il mit sur pied son <big>modèle de données</big>.
		img(src="images/dio/datamodel.png")

	.step.tc(data-y=1000*y, data-x=1000*x++)
		h4.bottom10.top30 Et Detective.io créa une <big>base de connaissance</big>.
		img(src="images/dio/contribute.gif")

	.step.tc(data-y=1000*y, data-x=1000*x++)
		h4.bottom10.top30 Ainsi qu'une <big>interface</big> pour saisir les données.
		img(src="images/dio/front.gif")

	.step.tc(data-y=1000*y, data-x=1000*x++)
		h4.bottom10.top30 Désormais Bill est heureux.
		img(src="images/dio/joy.gif")

	.step.tc(data-y=1000*y, data-x=1000*x++)
		h4.bottom10.top30 Mais ce n'est pas tout !<br />Il peut faire des requêtes en <big>langage naturel</big>
		img(src="images/dio/graph.gif")

	.step.tc(data-y=1000*y, data-x=1000*x++)
		h4.bottom10.top30 Alors, qui est le roi de la rédaction maintenant ?
		img(src="images/dio/congrats.gif")

	.step.tc(data-y=1000*y, data-x=1000*x++)
		h3 <a href="http://detective.io">Detective.io</a>