extends ../layout

block title
  | Feowl

block content

  - var z = 0;
  .step(data-y=100*z, data-z=1000*z++)#title
    .row-fluid
      .span3
        img(src="/images/logo.png").top20
      .span9
        h1.bottom0 Feowl
        h3 Monitoring electricity blackouts in Douala.
        p Pierre Romera - CTO at <a target="_blank" href="http://twitter.com/jplusplus_">@jplusplus_</a>

  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc The problem
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc Many power cuts
  .step(data-y=100*z, data-z=1000*z) 
    h2.tc 1 power cut every 10 days
  .step(data-y=100*z, data-z=1000*z++, data-rotate-y=180) 
    h2.tc 1 power cut every 3 days
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc No one knows
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc No reliable data
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc Crowdsourcing
  .step(data-y=100*z, data-x=-300, data-z=1000*z) 
    h2.tc Ushahidi
  .step(data-y=100*z, data-x=300, data-z=1000*z++) 
    h2.tc Cosm
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc No adequate tools
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc That why we created Feowl
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc Don't wait for users to come to you
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc Ask them what you need to know
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc SMS
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc Web
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc "Did you experience a power cut today?"
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc "How long did it last?"
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc Tested in Douala, Cameroon
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc November 2012
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc.bottom0 Open source
    h3.tc <a target="_blank" href="https://github.com/feowl/">github.com/feowl</a>
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc Deployed anywhere thereafter
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc To measure water shortages
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc Inflation
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc Wages
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc Any data
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc Financed by the <a target="_blank" href="http://www.freemedia.at/">International&nbsp;Press&nbsp;Institute</a>
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc Developed by
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc <a target="_blank" href="http://www.tesobe.com/">TESOBE</a>
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc <a target="_blank" href="http://www.internetsansfrontieres.com/">Internet Without Borders</a>
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc <a target="_blank" href="http://www.wasamundi.com/">Wasamundi</a>
  .step(data-y=100*z, data-z=1000*z++) 
    h2.tc.bottom0 Journalism++ 
    h3.tc <a target="_blank" href="http://twitter.com/jplusplus_">@jplusplus_</a>

