extends ../layout

block title
  | Pierre Romera - Data &amp; Newsgame

block content

    - var x = y = 0
    .step(data-x=800*x++, data-y=800*y)#title
        h2.bottom0 <small>When</small> Journalism <small>meets</small><br />Open Source <small>culture</small>
        p Pierre Romera - <a href="http://twitter.com/pirhoo">@pirhoo</a> - <a href="http://paris.jplusplus.org">Journalism++</a> Paris

    //- CHAPITRE I
    .step(data-x=800*x, data-y=800*y++)
        h2 I. Open Source, a culture?
    .step(data-x=800*x, data-y=800*y++)
        h3 It started with licenses but it’s become much more
        p Open Source is also about broadcast knowledge, transparency, sharing, ...
        p For these reasons we refer more to Free Software, that focus on users' freedom.
    .step(data-x=800*x, data-y=800*y++)
        h3 As any other culture, Open source has its icons
        ul
            li Its own medium (GitHub, SourceForge, StackOverflow)
            li Its own groups (Linux Distributions, programming styles, languages)
            li Its own activists (WikiLeaks, Telecomix, EFF)
        p Those figures and those groups define the mass movements that we find in every culture.
    .step(data-x=800*x, data-y=800*y++)
        .row
            .span3
                .right20
                    img(src="http://a51.idata.over-blog.com/4/06/66/31/250px-IndPorcupine.jpg")
            .span9
                h3 <abbr title="Open Source">OS</abbr> Software communities are like groups of porcupines
                i (from the theory of human relationships by A. Schopenhauer)
    .step(data-x=800*x, data-y=800*y++)
        h3 Open Source has its own rules
        p
            | You all know the Free Software precepts...
            | Some other rules also change the way we build software.
        p
            | By overloading our natural workflow, those allow us to work fluently.

    //- CHAPITRE II
    - ++x; y = 0
    .step(data-x=800*x, data-y=800*y++)
        h2 II. The identity crisis in journalism
    .step(data-x=800*x, data-y=800*y++)
        h3 Journalism lives a crisis <small>(no shit Sherlock)</small>
        p
            | But this goes beyond economic issues:
            strong &nbsp;the whole information chain has changed
            | . Not only because now journalists are in a fight for survival.
    .step(data-x=800*x, data-y=800*y++)
        h3 Information no longer flows from the "top"
        p It does not come from the bottom either, <strong>information comes from every direction</strong>!
    .step(data-x=800*x, data-y=800*y++)
        h3 Journalists have to upgrade themself
        p New formats, new mediums, new opportunities, new risks!
    .step(data-x=800*x, data-y=800*y++)
        h3 Obstacles to this transformation
        p There is a cohabitation between the desire to modernize journalism and attempts at keeping it in its traditional form.
    .step(data-x=800*x, data-y=800*y++)
        p Journalists must accept to work with innovative tools and their actors.
        h3 Hopefully Internet actors remain attracted to old-fashioned media (or legacy media as they say).
        i Mozilla Foundation created <a href="http://source.opennews.org/">Source</a> to embed developers in newsrooms.<br />
        i Jeff Bezos bought the Washington Post.

    //- CHAPITRE III
    - ++x; y = 0
    .step(data-x=800*x, data-y=800*y++)
        h2 III. The collision
    .step(data-x=800*x, data-y=800*y++)
        h3 One of its most common representation is <big>transparency</big>
        p As for free software, OS Journalism must open its material.
        p What WikiLeaks has been doing for years is a perfect example.<br />The Guardian Datablog is also a great place to find data.
    .step(data-x=800*x, data-y=800*y++)
        h3 <big>Crowdsourcing</big> is directly inspired by the well-known Wiki
        p This practice tries to involve users into a massive online investigation.
        p Using open material and crowdsourcing can help digging into huge datasets or create new ones.
        i <a href="http://www.prixdeleau.fr/">Le Prix de l'Eau</a>, mars 2011
    .step(data-x=800*x, data-y=800*y++)
        h3 Set up milestones, add features,<br />fork or accept pull requests
        p These key words that we find in every Open Source projects could be applied to journalism.
        i <a href="https://github.com/jplusplus/guide-du-datajournalisme">Guide du Journalisme de données</a>, sur Github.
    .step(data-x=800*x, data-y=800*y++)
        h3 We observe/see the emergence of<br />journalist-hackers
        p They are journalists that have good knowledge in computer sciences and use technology to process data.
        i <a href="http://owni.fr/2011/02/22/photo-de-kadhafi-a-paris-lelysee-a-menti/">Kadhafi pictures on the Elysée's website</a>, février 2011
    .step(data-x=800*x, data-y=800*y++)
        h3 Work effectively with Journalists
        p <a href="http://datawrapper.de/">Datawrapper</a> is driven by journalists' needs.
        p More generally, at <a href="http://jplusplus.org">Journalism++</a> we build tools we would love to use.
    .step(data-x=800*x, data-y=800*y++)
        h3 To learn more... go and meet them!
        .row.tc.bg-white.thumbnail
            .span4.top30
                a(href="http://hackshackers.com/")
                    img(src="http://ebmedia.eventbrite.com/s3-build/images/215561/350397734/1/logo.gif") Hacks/Hackers
            .span4.top10
                a(href="http://okfn.org/")
                    img(src="http://assets.okfn.org/files/talks/media/logo-okfn-text.jpg", alt="OKF")
            .span4
                a(href="http://jplusplus.org/")
                    img(src="/images/jpp.jpg", alt="Journalism++")

