extends ../layout

block title
    | The Migrants Files

block content

    - var x = y = 0

    .step(data-y=1000*y, data-x=1000*x++)
        .left100.right100
            h2.bottom0 The Migrants Files
            p Une base de données de plus de 29 000 migrants morts en rejoignant l'Europe depuis 2000.
            p.small Pierre Romera - <a href="http://twitter.com/pirhoo">@pirhoo</a>

    .step(data-y=1000*y, data-x=1000*x++)
        .row
            .span3
                img(src="http://logo-js.herokuapp.com/jpp/C50224/white/", width="100%")
            .span9
                h3 Journalism++
                p Première agence de computer-assisted reporting en Europe.
                p Nous sommes : journalistes, développeurs, chefs de projet et <strong>nerds</strong>.

    .step(data-y=1000*y, data-x=1000*x++)
        h3 Le problème
        ul
            li Les migrants meurent à nos frontières
            li On se souvient surtout des évènements marquants
            li En l'absence de données, impossible d'avoir une vue d'ensemble
            li Les sources de données existent mais elles sont éparses


    .step(data-y=1000*y, data-x=1000*x)
        h3.bottom0.top0 Des données existent
        p.small.top0  United for Intercultural Action
        img.thumbnail(src="http://prez.nkb.fr/images/tmf02.png", height="400px")

    .step(data-y=1000*y, data-x=1000*x, data-z=1000*1)
        h3.bottom0.top0 Des données existent
        p.small.top0  Fortress Europe - Gabriele Del Grande
        img.thumbnail(src="http://prez.nkb.fr/images/tmf04.png", height="400px")

    .step(data-y=1000*y, data-x=1000*x++, data-z=1000*2)
        h3.bottom0.top0 Des données existent
        p.small.top0  Puls de l'Université d'Helsinki
        img.thumbnail(src="http://prez.nkb.fr/images/tmf06.png", height="400px")

    .step(data-y=1000*y, data-x=1000*x)
        h3.top0  Pourquoi alors la vérité est-elle<br />si compliquée à trouver ?
        img.thumbnail(src="http://prez.nkb.fr/images/tmf05.png", height="400px")

    .step(data-y=1000*y, data-x=1000*x++, data-z=1000*1)
        h3.top0  Pourquoi alors la vérité est-elle<br />si compliquée à trouver ?
        ul
            li Les migrants morts sont des inconnus
            li La non-exhaustivité des bases de données
            li La redondance des sources

    .step.tc(data-y=1000*y, data-x=1000*x++)
        h3.bottom0  La mission de TMF
        h4 structurer, fusionner, dé-dupliquer, géo-coder et vérifier

    .step(data-y=1000*y, data-x=1000*x)
        h3 Structurer
        ul
            li Traduire les bases de données pour les uniformiser
            li Définir une Ontologie
            li Insérer les données dans la table des migrants

    .step(data-y=1000*y, data-x=1000*x, data-z=1000*1)
        h3 Structurer
        blockquote Une ontologie sert à décrire<br />la strucutre de notre base de données.
        p.bottom10 Elle se compose principalement
        ul
            li De migrants
            li D'événements
            li De centres de détention
            li De territoires

    .step(data-y=1000*y, data-x=1000*x, data-z=1000*2)
        h3.bottom10 Structurer
        p.bottom0 Des migrants.
        iframe.thumbnail(frameborder=0, height="450", width="100%", src="//www.detective.io/embed/detective/the-migrants-files/migrant/69737/")

    .step(data-y=1000*y, data-x=1000*x, data-z=1000*3)
        h3.bottom10 Structurer
        p.bottom0 Des territoires.
        a(href="https://www.detective.io/detective/the-migrants-files/territory/55274/", target="_blank")
            img.thumb(src="http://i.imgur.com/sOXd4eP.png", height="450px")

    .step(data-y=1000*y, data-x=1000*x, data-z=1000*4)
        h3.bottom10 Structurer
        p.bottom0 Tous les champs doivent pouvoir être sourcés.
        a(href="https://www.detective.io/detective/the-migrants-files/event/69733/", target="_blank")
            img.thumb(src="http://i.imgur.com/nEGrxYZ.png")

    .step(data-y=1000*y, data-x=1000*x++, data-z=1000*5)
        h3 Structuer
        blockquote Les données de United ne sont pas atomiques
        p Pour répertorier chaque migrant il faut <em>éclater</em> les lignes de cette base de données.

    .step(data-y=1000*y, data-x=1000*x++)
        h3 Fusionner
        p C'est très simple, il suffit de mettre les bases bout à bout.
        p <strong>Problème</strong> : certain éléments sont présents dans les deux bases.

    .step(data-y=1000*y, data-x=1000*x)
        h3 Dé-dupliquer
        p On serait tenté de vouloir automatiser cette opération.
        p <strong>Problème</strong> : la variété des taxonomies et des approximations rend cette automatisation impossible.

    .step(data-y=1000*y, data-x=1000*x++, data-z=1000*1)
        h3 Dé-dupliquer
        p La dé-duplication se fait donc à la main !
        p Pour aller plus vite, on  classe les événements pas date, puis on dé-duplique.

    .step(data-y=1000*y, data-x=1000*x, data-z=1000*1)
        h3 Géo-coder
        blockquote Le <em>geocoding</em> est le processus qui consiste a<br />transformer une adresse en coordonnées.

    .step(data-y=1000*y, data-x=1000*x, data-z=1000*2)
        h3 Géo-coder
        ol
            li Extraire la description texte des événements
            li Repérer les entités nommées et les uniformiser
            li Trier les lieux par pertinence et précision<br />(villes, régions, pays, adjectif, etc)
            li Isoler les lieux dans une table séparée, géo-coder

    .step(data-y=1000*y, data-x=1000*x++, data-z=1000*3)
        h3 Géo-coder
        img.thumbnail(src="http://prez.nkb.fr/images/tmf10.png")

    .step(data-y=1000*y, data-x=1000*x)
        h3 Vérifier
        p C'est la sève de tout travaux journalistiques,<br /><strong>vérifier, vérifier, vérifier.</strong>

    .step(data-y=1000*y, data-x=1000*x, data-z=1000*1)
        h3 Vérifier
        p Mais comment faire lorsque votre base de données se compose de plusieurs milliers d'entrées ?

    .step(data-y=1000*y, data-x=1000*x, data-z=1000*2)
        h3.bottom10 Vérifier
        p.bottom0 Rendre les données accessibles.
        img(src="http://i.imgur.com/4grnqOl.jpg", height="450px")

    .step(data-y=1000*y, data-x=1000*x++, data-z=1000*3)
        h3 Vérifier
        p
            | Seize étudiants du <em>Laboratory of Data Journalism</em> de l'Université de Bologne
            | ont contribué au projet en vérifiant les détails d'un échantillon d'accidents,
            | sous la supervision du <strong>Professeur Carlo Gubitosa</strong>.

    .step(data-y=1000*y, data-x=1000*x)
        h3.bottom10 Mettre en forme
        p.bottom0 À l'aide de CartoDB
        iframe.thumbnail(frameborder=0, height="450", width="100%", src="http://jplusplus.github.io/tmf-map/?lang=fr_FR")

    .step(data-y=1000*y, data-x=1000*x++, data-z=1000*1)
        h3.bottom10 Mettre en forme
        p.bottom0 Identifier les taxonomies
        iframe.thumbnail(frameborder=0, height="450", width="100%", src="http://cf.datawrapper.de/Dh12h/1/")

    .step.tc(data-y=1000*y, data-x=1000*x++)
        h1.bottom10 Merci!
        p.bottom0 <strong>@pirhoo</strong> sur Twitter et Github
