extends ../layout

block content

  .step#title
    h1 How to tell stories with data
    h3.bottom0 Digital Journalism Bootcamp
    p Tunis 2012 - Pierre Romera - <a href="http://twitter.com/pirhoo">@pirhoo</a>


  .step(data-x=990)
    h2 Get started with a definition*
    blockquote All activities related to the preparation of a newspaper or any other newspaper or magazine or audiovisual (<big><strong>collecting</strong></big>, <big><strong>selecting</strong></big>, <big><strong>formatting information</strong></big>) [...]
    ol.footnotes
      li Larousse dictionary <a href="http://www.larousse.fr/dictionnaires/francais/journalisme">http://www.larousse.fr/dictionnaires/francais/journalisme</a> [FR]

  //----------------------------------------------------------------------------
  //- COLLECTING
  //----------------------------------------------------------------------------
  .step(data-x=990*2)
    h2 Collect
    p 
      | It's one of my favorite point, as a developer.<br />
      strong For a long time, journalists have to gather information.
    h3 But why is it so suitable?

  .step(data-x=990*2, data-y=400*1, data-rotate-x=-10)
    h3.bottom10 Take a look to the last decade
    p.bottom10 Never before the information's sources have been so many.
    p.bottom10 Never before the information have circulated so easily.
    p Vox pops have become tweets. Messages circulate at 5 Mbps.
    h3.bottom10 Coming after the digital natives,<br />we are now in a world of data natives.
    p Swiming at any time in a global data ocean.
  
  .step(data-x=990*2, data-y=400*2, data-rotate-x=-10*2)
    h3.bottom0 We produce a lot of passive data
    p Credit cards, mobile phone, video games, fidelity cards, ...
    h3 Since a few year, <big>citizens</big> are begining to be active producers of data.

  .step(data-x=990*2, data-y=400*3, data-rotate-x=-10*3)
    h2.bottom10 <small>Everyday,</small> Facebook's users<small><br />produce the equivalent of <br /></small>120,000 DVD discs <small>of data</small>*
    p Just 2 days to cover a soccer field.
    ol.footnotes
      li Le Monde Informatique, August 2012 <a href="http://www.lemondeinformatique.fr/actualites/lire-facebook-supporte-500-to-de-nouvelles-donnees-par-jour-50140.html">http://bit.ly/P3mQns</a> [FR]

  .step(data-x=990*2, data-y=400*4, data-rotate-x=-10*4)
    h3 That's what we call<br /><big>User Generated Contents</big>.
    p 
      | Videos on YouTube, Tweets, Likes, Twitpics, <br />
      | are a <big>new material</big> for Journalists.

  .step(data-x=990*2, data-y=400*5, data-rotate-x=-10*5)
    h2.tc The <big>nature</big> of the information<br />had changed.      

  .step(data-x=990*2, data-y=400*5, data-rotate-x=-10*5, data-rotate-y=180)
    h2.tc The <big>ways</big> to collect&nbsp;information had changed too.

  .step(data-x=990*2, data-y=400*6, data-rotate-x=-10*6)
    h3 Collective inteligence       
    p.bottom15.left20 Every single person has limited knowledges of its environement.
    p.bottom15.left60 Collective inteligence tries to <strong>gather these pieces of individuality</strong> arround a common issue.
    p.bottom15.left100 It defines the rules, the target, and the shape of every contributions.
   

  .step(data-x=990*2, data-y=400*6+1500, data-rotate-x=-10*6, data-z=1000)
    a(href="http://feowl.com") 
      img.thumbnail(src="/images/feowl.png", alt="")



  //----------------------------------------------------------------------------
  //- SELECTING
  //----------------------------------------------------------------------------
  .step(data-x=990*3)
    h2 Select
    p Once journalists are aware to that world of data,<br />they have to consider it like any other information.
    h3 Manage with data it's like dealing<br />with any source.

  .step(data-x=990*3, data-y=400*1, data-rotate-x=-10*1)
    h3.bottom0 <big>WikiLeaks</big><br />is an interesting subject
    p This organization aims to expose the truth about the governments. <strong>Know the intentions of your source is a central point</strong>.

  .step(data-x=990*3, data-y=400*2, data-rotate-x=-10*2)
    .row-fluid
      .span4
        img(src="/images/ja-london.JPG", alt="Reuter").thumbnail
      .span8
        p.left20
          | To work, WikiLeaks needs to ensure the anonymity of its <em>Wistle Blowers</em>. <strong>It's both an opportunity and a problematic point for the journalists.</strong>

  .step(data-x=990*3, data-y=400*3, data-rotate-x=-10*3)
    h3.bottom0 An opportunity
    p because the organization has the perfect tool to reach the deepest secrets.
    p With WikiLeaks we can touch a <strong>proximity matter</strong> increasingly difficult to reach.


  .step(data-x=990*3, data-y=400*3, data-rotate-x=-10*3, data-rotate-y=180)
    h3.bottom0 A problematic point
    p because to juge properly a material, we need to completely evaluate its source.
    p How else distinguish these documents from hallway noises or conspiracy?

  .step(data-x=990*3, data-y=400*4, data-rotate-x=-10*4)
    h3.bottom0 <big>Old journalism techniques</big><br />can be apply to the data
    p "Unfolde the data", call the ministries, use other sources... 

  .step(data-x=990*3, data-y=400*5, data-rotate-x=-10*5)
    h3.bottom0 Of course, a newsroom <big>can't process</big><br />this amount of data manualy
    p A well known solution is to use <strong>Crowdsourcing</strong>.

  .step(data-x=990*3, data-y=400*5+1500, data-rotate-x=-10*5, data-z=1000)    
    a(href="http://warlogs.owni.fr")
      img(src="/images/warlogs.png").thumbnail

  .step(data-x=990*3, data-y=400*6, data-rotate-x=-10*6)
    h3 We have to apply the same vigilance with the Open Government policies. 
    h2.bottom0 The paradox is still complicated
    p Even the most trustable sources must be checked.



  //----------------------------------------------------------------------------
  //- FORMATING
  //----------------------------------------------------------------------------
  .step(data-x=990*4)
    h2 Format  
    p.bottom0 Here we are:
    p.left20.bottom0 we have data, 
    p.left40.bottom0 we trust them,
    p.left60 we are now able to create <strong>innovative stories</strong>.

  .step(data-x=990*4, data-y=400*1, data-rotate-x=-10*1)
    h3 This is where the collaboration with Developers and Designers start to be obvious.
    p One of the most important caracteristics with data is that is machine readable.
    p Following this predicate, we can invent many kinds of creative stories.

  .step(data-x=990*4, data-y=400*2, data-rotate-x=-10*2)
    .row-fluid
      .span8    
        p.right20.tr <strong><big>A designer</big></strong> would certainly help you to make your data sexier.
      a(href="http://www.100yearsofworldcuisine.com/").span4
        img(src="/images/100yearsofworldcuisine.jpg", alt="100 year of world cuisine").thumbnail

  .step(data-x=990*4+10, data-y=400*2, data-rotate-x=-10*2, data-rotate-y=180)
    .row-fluid      
      a(href="http://slaveryfootprint.org/").span4
        img(src="/images/slaveryfootprint.png", alt="Slavery Footprint").thumbnail
      .span8  
        p.left20 <strong><big>A developer</big></strong> would probably be able to create interactivity with that sexyness.

  .step(data-x=990*4, data-y=400*3, data-rotate-x=-10*3)
    h3 All you have to do, is to find a way to<br /><big>create harmony between these skills</big>
    p Learn to speak with a developer starts by <strong>learning basics of programming</strong>. No kidding. 
    p It not means that <em>Journalists have to be Programmers</em>...

  .step(data-x=990*4, data-y=400*4, data-rotate-x=-10*4)
    h3 I'm talking about build bridges<br /><big>between opposite world</big>
    p If we encourage the Journalists to learn programming,<br />we must also encourage the <big>Developers to learn Journalism</big>. No kidding again.

  .step(data-x=990*4, data-y=400*5, data-rotate-x=-10*5)
    p.bottom0 But there is a big problem with the developper:
    h3 there are expensive!
    p.tc <big>Fortunately, recent tools try to drop<br />the techy side of the data.</big>
    p.tr Google Refine, Google Fusion Tables,<br />Google Drive are the most popular.

  .step(data-x=990*4, data-y=400*5+1500, data-rotate-x=-10*5, data-z=1000)
    a(href="http://datawrapper.de")
      img(src="/images/datawrapper.png").thumbnail

  .step(data-x=990*4, data-y=400*6, data-rotate-x=-10*6)
    h3 Know how to use such tools to build stories<br />with data is named <big>Data Literacy</big>
    p Every interactive or pretty project with data <strong>is nothing without a good story</strong>. 
    h3 To avoid a common mistake, remember that <big>the Data Literacy has to serve</big><br />your article or documentary

  .step(data-x=990*4, data-y=400*7, data-rotate-x=-10*7)
    h2 <big>Never</big> this kind of project should create interogation
    p.bottom20 Data is complicated enougth: do not add complexity on it. 
    h3 It's your dutty to make information simplier